In [1]:
import requests #Used to service API connection
from lxml import html #Used to parse XML
from bs4 import BeautifulSoup #Used to read XML table on webpage
import pandas as pd
from common import cFunction as cf
import numpy as np
import wget
import datetime as dt
# from tabula import read_pdf

In [2]:
dataList = pd.read_csv("https://docs.google.com/spreadsheets/d/1VngqG-m7G8k1587c21MZoheR1Fz3amp1mJtiBvA1Jb0/export?format=csv&gid=0")
print("### The total number of target data is " + str(len(dataList)))

### The total number of target data is 417

In [3]:
dataList = dataList[   dataList['제공항목(데이터셋)'] == '한국감정원 주택거래 현황' ]
dataList

,번호,접속 사이트,제공항목(데이터셋),폴더명,작업자,시작일,종료일,검토자,진행상태,비고,...,파라미터,제공방식.1,데이터타입,참고문서,참고문서타입,주기,비고_파라미터설명,완료여부,API PGM ID,파일명
353,354,공공데이터포털,한국감정원 주택거래 현황,353_한국감정원 주택거래 현황,이신우,NaN,NaN,NaN,NaN,NaN,...,startmonth=시작날&endmonth=끝날&region=지역코드,api,xml,NaN,NaN,NaN,201302&201903&49000,"353 중복, 20190419 삭제",TB_OD10353.py,TB_OD10353_yyyymm.csv
354,355,공공데이터포털,한국감정원 주택거래 현황,354_한국감정원 주택거래 현황,NaN,NaN,NaN,NaN,NaN,NaN,...,startmonth=201901&endmonth=201903&region=19000,api,xml,https://www.data.go.kr/comm/file/download.do?a...,NaN,NaN,201901&201903&48000,완료,TB_OD10354.py,TB_OD10354_yyyymm.csv

In [4]:
dataList = dataList.fillna("")
dataList = dataList.reset_index(drop=True)
dataList

,번호,접속 사이트,제공항목(데이터셋),폴더명,작업자,시작일,종료일,검토자,진행상태,비고,...,파라미터,제공방식.1,데이터타입,참고문서,참고문서타입,주기,비고_파라미터설명,완료여부,API PGM ID,파일명
0,354,공공데이터포털,한국감정원 주택거래 현황,353_한국감정원 주택거래 현황,이신우,,,,,,...,startmonth=시작날&endmonth=끝날&region=지역코드,api,xml,,,,201302&201903&49000,"353 중복, 20190419 삭제",TB_OD10353.py,TB_OD10353_yyyymm.csv
1,355,공공데이터포털,한국감정원 주택거래 현황,354_한국감정원 주택거래 현황,,,,,,,...,startmonth=201901&endmonth=201903&region=19000,api,xml,https://www.data.go.kr/comm/file/download.do?a...,,,201901&201903&48000,완료,TB_OD10354.py,TB_OD10354_yyyymm.csv

In [6]:
inputUrl = dataList.loc[0, "사이트"]
inputKey = dataList.loc[0, "서비스키"]
inputParameter = dataList.loc[0, "파라미터"]
inputFolder = dataList.loc[0, "폴더명"]
inputFile = dataList.loc[0, "서비스명"]
inputDataType = dataList.loc[0, "데이터타입"]
inputRefUrl = dataList.loc[0, "참고문서"]
inputRefType = dataList.loc[0, "참고문서타입"]
newParameter= dataList.loc[0, "비고_파라미터설명"] ## 비고_파라미터설명 에 입력하면 그 값을 출력하기 위해
print(inputParameter)                             ## 추가해줌

startmonth=시작날&endmonth=끝날&region=지역코드

In [7]:
def good(inputParameter):    

    aa = (inputParameter.split('&')[0]).split('=')[1]  ## 파라미터에 startmonth=00&endmonth=11&region=22
    bb = (inputParameter.split('&')[1]).split('=')[1]  ## 해당 00 11 22 에 추출할 시작,끝,지역코드를
    cc = (inputParameter.split('&')[2]).split('=')[1]  ## 비고_파라미터설명 에 입력하면
    newParameter                                       ## 그걸 처리해주는 함수
    ffff = (newParameter.split('&'))
    aaaaa = inputParameter.replace(aa,ffff[0]).replace(bb,ffff[1]).replace(cc,ffff[2])
    inputParameter=aaaaa
    
    return inputParameter

In [8]:
inputParameter=good(inputParameter)

In [9]:
inputParameter

'startmonth=201302&endmonth=201903&region=49000'

In [397]:
url = cf.makeURL(inputUrl,inputKey,inputParameter)
print("fullUrl is " + url)

fullUrl is http://openapi.kab.co.kr/OpenAPI_ToolInstallPackage/service/rest/AptTradingStateSvc/getAptTrdStateCaseOfNbr?&serviceKey=aiaNgZ3r3nPeUj5%2FKuJ10ZNRmyePXavavOu8RZwO%2F84LnOn5KxhWa1%2F5nwxk0Y4M10W0fjCK1SksOQeQsdMu6A%3D%3D&startmonth=201901&endmonth=201903&region=48000

In [398]:
newDF = pd.DataFrame()
if (inputDataType == "xml"):
        newDF = cf.xmlProcess(url)
elif(inputDataType == "json"):
        newDF = cf.jsonProcess(url)
elif(inputDataType == "csv"):
        newDF = cf.csvProcess(url)

  regionCd regionNm                                rsRow
0    48000       경남  201901,5339|201902,5760|201903,6902

In [399]:
newDF.head()

  regionCd regionNm                                rsRow
0    48000       경남  201901,5339|201902,5760|201903,6902

In [400]:
a = newDF[["rsRow"]]
a

                                 rsRow
0  201901,5339|201902,5760|201903,6902

In [401]:
count = len(newDF.loc[0,"rsRow"].split("|"))

In [402]:
count

3

In [403]:
(newDF.loc[0,"rsRow"].split("|")[0]).split(",")[1]

'5339'

In [404]:
kk=(newDF.loc[0,"rsRow"].split("|")[0]).split(",")[0]
kk

'201901'

In [405]:
for i in  range (0, count) :
    newDF[(newDF.loc[0,"rsRow"].split("|")[i]).split(",")[0]] = (newDF.loc[0,"rsRow"].split("|")[i]).split(",")[1]
    
#     newDF["YYYY"]=(newDF.loc[0,"rsRow"].split("|")[i]).split(",")[0]
#     newDF["KKKK"]=(newDF.loc[0,"rsRow"].split("|")[i]).split(",")[1]

In [406]:
newDF.head()

  regionCd regionNm                                rsRow 201901 201902 201903
0    48000       경남  201901,5339|201902,5760|201903,6902   5339   5760   6902

In [407]:
del newDF["rsRow"]

In [408]:
newDF.head()

  regionCd regionNm 201901 201902 201903
0    48000       경남   5339   5760   6902

In [409]:
groupKey = ["regionCd","regionNm"]

In [410]:
groupData = newDF.groupby(groupKey)[["YYYY"]].mean()

KeyError: "Columns not found: 'YYYY'"

In [329]:
outPath = "../data/outbound/"
folderList = dataList["폴더명"].tolist()
cf.createFolder(outPath+"354_한국감정원 주택거래 현황")

In [330]:
fullOutPath = outPath+inputFolder+"/"+inputFolder+inputFile+newParameter+".csv"  ## newParameter 추가해서
print(fullOutPath)                                              ## csv 파일이 중복되지 않게 뽑힘

try:
    newDF.to_csv(fullOutPath, index=False, encoding="ms949")  ## 데이터저장
except Exception as x:
    print(x)

../data/outbound/354_한국감정원 주택거래 현황/354_한국감정원 주택거래 현황201901&201903&48000.csv

In [331]:
fullOutRefPath = outPath + inputFolder + "/" + inputFolder + inputFile + "."+inputRefType
try:
    wget.download(inputRefUrl, fullOutRefPath)
except Exception as e:
    print(inputFolder+"참고문서 Error")
    print(e)
    pass #만약 오류가 발생하더라도 그냥 넘어간다.

100% [........................................................] 550930 / 550930

In [332]:
pwd

'C:\\Users\\SMART-23\\Python_Fintech'

In [ ]:
201302&201407&48000

In [359]:
inputParameter

aa = (inputParameter.split('&')[0]).split('=')[1]
bb = (inputParameter.split('&')[1]).split('=')[1]
cc = (inputParameter.split('&')[2]).split('=')[1]
newParameter
ffff = (newParameter.split('&'))
aaaaa = inputParameter.replace(aa,ffff[0]).replace(bb,ffff[1]).replace(cc,ffff[2])
aaaaa

'startmonth=시작월&endmonth=종료월&region=지역코드'

In [705]:
def good(inputParameter):
    aa = (inputParameter.split('&')[0]).split('=')[1]
    bb = (inputParameter.split('&')[1]).split('=')[1]
    cc = (inputParameter.split('&')[2]).split('=')[1]
    newParameter
    ffff = (newParameter.split('&'))
    aaaaa = inputParameter.replace(aa,ffff[0]).replace(bb,ffff[1]).replace(cc,ffff[2])
    return aaaaa

In [706]:
good(inputParameter)

'startmonth=201302&endmonth=201407&region=11000'

In [881]:
dt = datetime.datetime.now()

In [882]:
dt

datetime.datetime(2019, 4, 24, 17, 31, 0, 942125)

In [883]:
dt.year

2019

In [884]:
dt.month

4

In [294]:
inputParameter = inputParameter.replace(Test,"가가가가")

In [295]:
inputParameter

'startmonth=가가가가&endmonth=종료월&region=지역코드'

In [229]:
dd

'startmonth=startmonth=시작월&endmonth=endmonth=종료월&region=region=지역코드'

In [240]:
newParameter

'201302, 201407, 480000'

'2'

In [241]:
aa = "startmonth="+newParameter[0]
aa

'startmonth=2'

In [242]:
bb = "endmonth="+newParameter[1]
bb

'endmonth=0'

In [243]:
cc = "region="+newParameter[2]
cc

'region=1'

In [244]:
dd=aa+"&"+bb+"&"+cc

In [245]:
dd

'startmonth=2&endmonth=0&region=1'

In [859]:
startmonth=201302&endmonth=201407&region=48000

SyntaxError: invalid syntax (<ipython-input-859-203620650705>, line 1)