# 1. 파일데이터 불러오기

In [3]:
import pandas as pd

In [4]:
regionData = pd.read_csv("../dataset/kopo_region_mst_hangul.csv" , encoding = 'ms949')  ##  encoding = 'ms949' 한글로 바꾸기~~

In [5]:
regionData.head(7)   ## 괄호안에 1이면 1줄만 불러오고 아무것도 적지않으면 기본적으로 5개 불러옴

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질
5      A05         아랍
6      A06        앙골라

In [6]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [8]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [9]:
customerData.columns = ['CUSTID','AVERAGEPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTYPE2']   ## 마지막에 컬럼이름을 바꿈!!
customerData.head()                                                                            ## 2.파이썬기초 ppt 108번내용

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTYPE2
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [10]:
customerData.to_csv("./customerDataOut.csv")    ## 실제 아래 pwd 했을시 그 경로에 csv 파일이 생김!!!!!

In [11]:
pwd

'C:\\Users\\SMART-23\\Python_Fintech\\03 14'

In [48]:
import timeit
import pandas as pd

start = timeit.default_timer()

qtyList = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

del qtyList[qtyList.index(min(qtyList))]
del qtyList[qtyList.index(max(qtyList))]

average = sum(qtyList)/len(qtyList)
print(average)

stop = timeit.default_timer()
print('Time: ' , stop - start)

8936.090755278527
Time:  0.16961031000005278

In [53]:
import timeit
import pandas as pd

start2 = timeit.default_timer()

qtyList2 = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

qtyList2.sort()    ## 정렬후 삭제

del qtyList2[0]
del qtyList2[len(qtyList2)-1]

qtyList22 = sum(qtyList2)/len(qtyList2)
print(qtyList22)

stop2 = timeit.default_timer()
print('Time: ' , stop2 - start2)

8936.090755278527
Time:  0.20792189799999505