In [17]:
import pandas as pd

In [18]:
customerData = pd.read_csv("C:../dataset/customerdata.csv")

In [19]:
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [20]:
customerData = pd.DataFrame(customerData)

In [21]:
customerData.head(5)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [32]:
customerData[ (customerData.EMI >= 3) & 
              (customerData.DEVICECOUNT >= 5)].head(8)   ## & 하나만 하는거랑 && 랑 무슨 차이인지..? && 하면 에러남.. ㅠㅠㅠㅠㅠㅠ

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
27  F17131  3179.708359    3          6.5    1.100000        Early-bird
33  G16437  3787.328898    3          6.7    1.000000        Early-bird
36  G18402  3402.199381    3          6.5    1.000000        Early-bird
40  H16326  3988.935304    3          6.5    0.900000        Early-bird
45  I12899  3018.895637    3          6.4    0.900000        Early-bird
51  J10809  3676.135627    3          6.5    0.800000        Early-bird
52  J15083  2811.265932    3          6.0    0.900000        Early-bird

In [33]:
customerData.dtypes    ## 타입체크요~~~~~~~~~~~~

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT    float64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object