# 1. 파일데이터 불러오기

In [3]:
import pandas as pd

In [4]:
regionData = pd.read_csv("../dataset/kopo_region_mst_hangul.csv" , encoding = 'ms949')  ##  encoding = 'ms949' 한글로 바꾸기~~

In [5]:
regionData.head(7)   ## 괄호안에 1이면 1줄만 불러오고 아무것도 적지않으면 기본적으로 5개 불러옴

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질
5      A05         아랍
6      A06        앙골라

In [6]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [8]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [9]:
customerData.columns = ['CUSTID','AVERAGEPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTYPE2']   ## 마지막에 컬럼이름을 바꿈!!
customerData.head()                                                                            ## 2.파이썬기초 ppt 108번내용

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTYPE2
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [10]:
customerData.to_csv("./customerDataOut.csv")    ## 실제 아래 pwd 했을시 그 경로에 csv 파일이 생김!!!!!

In [11]:
pwd

'C:\\Users\\SMART-23\\Python_Fintech\\03 14'

In [48]:
import timeit
import pandas as pd

start = timeit.default_timer()

qtyList = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

del qtyList[qtyList.index(min(qtyList))]
del qtyList[qtyList.index(max(qtyList))]

average = sum(qtyList)/len(qtyList)
print(average)

stop = timeit.default_timer()
print('Time: ' , stop - start)

8936.090755278527
Time:  0.16961031000005278

In [53]:
import timeit
import pandas as pd

start2 = timeit.default_timer()

qtyList2 = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

qtyList2.sort()    ## 정렬후 삭제

del qtyList2[0]
del qtyList2[len(qtyList2)-1]

qtyList22 = sum(qtyList2)/len(qtyList2)
print(qtyList22)

stop2 = timeit.default_timer()
print('Time: ' , stop2 - start2)

8936.090755278527
Time:  0.20792189799999505

## for문 while문

In [10]:
tvList = [ 'UN40EN001' , 'UN40EN002' , 'UN40EN003' , 'UN40EN004']

In [11]:
range(0,4)

range(0, 4)

In [12]:
preFix = "LED_TV"

for i in range(0,4):
    tvList[i] = preFix + tvList[i]

In [13]:
tvList

['UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004']

In [19]:
tvList = [ 'UN40EN001' , 'UN40EN002' , 'UN40EN003' , 'UN40EN004']

In [20]:
preFix = "LED_TV"

In [21]:
i=0
tvListLen = len(tvList)

In [22]:
while(i < tvListLen):
    tvList[i] = preFix + tvList[i]
    i = i + 1

In [23]:
tvList

['LED_TVUN40EN001', 'LED_TVUN40EN002', 'LED_TVUN40EN003', 'LED_TVUN40EN004']

## 2중 for문

In [24]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print("{0} * {1} = {2}".format(n, i, n*i))

1단 시작
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2단 시작
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [28]:
for nn in range(1,3):
    print("{0}단 시작".format(nn))
    for ii in range(1,10):
        print("{0} * {1} = {2}".format(nn, ii, nn*ii))

1단 시작
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2단 시작
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [56]:
import pandas as pd

In [64]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

del customerTotalList[customerTotalList.index(min(customerTotalList))]
del customerTotalList[customerTotalList.index(max(customerTotalList))]

average = sum(customerTotalList)/len(customerTotalList)
average

35218.95312635417

In [1]:
tvList2 = ['UN40EN001','LEDTV_UN40EN002','LEDTV_UN40EN003','UN40EN004']

preFix = "LEDTV_"

for i in range(0,4):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    else:
        tvList2[i] = tvList2[i]
        
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [2]:
tvList2 = ['UN40EN001','LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003','UN40EN004']

preFix = "LEDTV_"

for i in range(0,4):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):  ## preFixCount 카운트가 0 이면 preFix 를 붙인다.
        tvList2[i] = preFix + tvList2[i]
    elif(preFixCount == 1):    ## preFixCount 카운트가 1이면 그대로 나옴.
        tvList2[i] = tvList2[i]
    else:   ##  그 나머지 경우는 
        tvList2[i] = tvList2[i].replace(preFix*preFixCount,preFix)
        tvList2[i] = preFix
        
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_', 'LEDTV_UN40EN004']

In [10]:
tvList2 = ['UN40EN001','LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003','UN40EN004']

preFix = "LEDTV_"
tvList2_len = len(tvList2)  ## len(리스트이름넣어주면 해당 길이값)
print(tvList2_len)

for i in range(0,tvList2_len):
    
    preFixCount = tvList2[i].count(preFix)  ## preFixCount 
    
    if(preFixCount > 0):
        
         tvList2[i] = tvList2[i].replace(preFix," ") ## replace(이놈을,이거로 바꿔라)
            
    tvList2[i] = preFix + tvList2[i]
    
tvList2

4

['LEDTV_UN40EN001', 'LEDTV_ UN40EN002', 'LEDTV_  UN40EN003', 'LEDTV_UN40EN004']

In [1]:
List = ['A01' , '한국' , 'A02' , '미국' , 'A03' , '프랑스']
print(List)

preFix = "A"

for i in range(0,len(List)):
    
    preFixCount = List[i].count(preFix)
    
    if(preFixCount > 0):
        
        List =

['A01', '한국', 'A02', '미국', 'A03', '프랑스']

In [114]:
def roung2Digit(display20Digit):
    step1 = display20Digit * 100
    step1
    
    step2 = round(step1)
    step2
    
    step3 = step2/100
    return step3

testValue = 1.222333444

roung2Digit(testValue)

1.22

In [131]:
def roung2Digit(display20Digit, digit):
    step1 = display20Digit * 100
    step1
    
    step2 = round(step1)
    step2
    
    step3 = step2/digit

    return step3

testValue = 1.222333444

roung2Digit(testValue, 3)

40.666666666666664

In [141]:
def average_go(customerTotalListt):

    customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

    del customerTotalList[customerTotalList.index(min(customerTotalList))]
    del customerTotalList[customerTotalList.index(max(customerTotalList))]

    average = sum(customerTotalList)/len(customerTotalList)
    
    return average

customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

average_go(customerData)

35218.95312635417

In [142]:
pwd

'C:\\Users\\SMART-23\\Python_Fintech\\03 14'

In [ ]:
def average_ok(kk)

M = max(kk)
m = min(kk)

while(kk.count(M) )